<!DOCTYPE html>
<html lang="en" ng-app="FamilyTreeApp">
<head>
    <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->


    <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Family Tree App</title>

    <!-- CDNs -->
  <script src="angular/angular.min.js" charset="utf-8"></script>
  <script src="angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="firebase/firebase.js" charset="utf-8"></script>
  <script src="angularfire/dist/angularfire.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>

  <script src="http://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
  <script src="angular-google-maps/dist/angular-google-maps.min.js"></script>




    <!-- JS FILES -->
  <script src="/js/app.js" charset="utf-8"></script>
  <script src="/js/factories/user.factory.js" charset="utf-8"></script>
  <script src="/js/factories/auth.factory.js" charset="utf-8"></script>
  <script src="/js/factories/relative.factory.js" charset="utf-8"></script>
  <script src="/js/controllers/user.controller.js" charset="utf-8"></script>
  <script src="/js/controllers/auth.controller.js" charset="utf-8"></script>
  <script src="/js/controllers/relative.controller.js" charset="utf-8"></script>



</head>



<body ng-controller="AuthController as auth">

  <h1>Family Tree App</h1>


  <div ng-if="auth.user">
    <p><strong>
        	Welcome {{ auth.user.email }}!
    </strong> </p>
    <p>
    <button class="btn1"><a href="#" ng-click="auth.signOut()">Sign out</a></button>
    </p>
  </div>

  <div ng-if="!auth.user">
    <p>Welcome! Please sign up or log in.</p>
    <button class="btn1"><a ui-sref="login">Login</a></button>

    <button class="btn1"><a ui-sref="signup">Signup</a></button>
  </div>


  <section ng-controller="UserController as user" ui-view>
      <!-- states get rendered here -->
  </section>


</body>
</html>
