<!DOCTYPE html>
<html lang="en" ng-app="FamilyTreeApp">
<head>
    <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/css/style.css">


    <!-- META DATA -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Family Tree App</title>

    <!-- CDNs -->
  <script src="angular/angular.min.js" charset="utf-8"></script>
  <script src="angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="firebase/firebase.js" charset="utf-8"></script>
  <script src="angularfire/dist/angularfire.min.js" charset="utf-8"></script>

  <!-- Google Maps API -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_HERE"></script> -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script> -->

    <!-- JS FILES -->
  <script src="/js/app.js" charset="utf-8"></script>
  <script src="/js/factories/user.factory.js" charset="utf-8"></script>
  <script src="/js/factories/auth.factory.js" charset="utf-8"></script>
  <script src="/js/factories/relative.factory.js" charset="utf-8"></script>
  <script src="/js/controllers/auth.controller.js" charset="utf-8"></script>
  <script src="/js/controllers/relative.controller.js" charset="utf-8"></script>



</head>



<body ng-controller="AuthController as auth">

  <h1>The Family Tree App</h1>


  <div ng-if="auth.user">
    <p><strong>
        	Welcome {{ auth.user.email }}!
    </strong> </p>
    <p>
    <a href="#" ng-click="auth.signOut()">Sign out</a>
    </p>
  </div>

  <div ng-if="!auth.user">
    <p>Welcome new person!</p>
    <a ui-sref="login">Login</a>

    <a ui-sref="signup">Signup</a>
  </div>


  <section ng-controller="RelativeController as relative" ui-view>
      <!-- states get rendered here -->
  </section>


</body>
</html>
