*{
  font-family: sans-serif;
  text-align: center;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;

}
/*------------------------------------------------------------------------*/










/*---------------------------------------------------------------------*/
h1{
color: green;
}

form {
    border: 3px solid #f1f1f1;
    padding: 10px;
}


input:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
input:focus{
    background-color: white;
    width: 300px;
    color: #8bcef1;
}


input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
}

select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
}



.btn1{
  background-color: lightblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  border-radius: 2px;
}

/*----log in and sign up buttons----*/
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 2px;
}

button:hover {
    opacity: 0.8;
}



.container {
    padding: 16px;
}


/* ----GOOGLE MAPS--------------------------------------------------------*/
map {
    height:420px;
    width:600px;
    border-radius: 5px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

/* ----GOOGLE MAPS--------------------------------------------------------*/
.angular-google-map-container {
  height: 400px;
}


[{"stylers":[{"saturation":100},{"gamma":0.6}]}]
