*{
  font-family: 'Lato', sans-serif;: 'Lato', sans-serif;
  text-align: center;
  list-style: none;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  /*font-weight: 300;*/

}
p{
font-weight: bold;

}
h1{
color: green;
font-weight: bold;
}
/*------------------------------------------------------------------------*/










/*---------------------------------------------------------------------*/
h2{

}
.relativelist {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
}
/*----CREATE RELATIVE FORM-----------------------------------------------*/
form {
    border: 3px solid #f1f1f1;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

input{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*box-sizing: border-box;*/
    border-radius: 2px;
        font-size: 15px;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
input:focus{
    background-color: white;
    width: 300px;
    color: #8bcef1;
}

select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
}

select:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

select:focus{
    background-color: white;
    width: 300px;
    color: #8bcef1;
}

.location-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;

}

.location-input:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.location-input:focus{
    background-color: white;
    width: 300px;
    color: #8bcef1;
}

button {
    background-color: green;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;: sans-serif;
    font-size: 20px;
}

button:hover {
    opacity: 0.8;
}

/*----LOGIN, SIGN UP AND SIGN OUT BUTTON----------------------------------*/
/*.btn1{
  background-color: white;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid;
  border-color: green;
  cursor: pointer;
  width: 25%;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;: sans-serif;
  font-size: 15px;
}*/
.btn1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/* ----GOOGLE MAPS--------------------------------------------------------*/
map {
    height:420px;
    width:600px;
    border-radius: 5px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

/* ----GOOGLE MAPS--------------------------------------------------------*/
.angular-google-map-container {
  height: 400px;
  width:
}
