<!DOCTYPE html>

<h2>Create a Relative</h2>


<form ng-submit="relative.addRelative()">

<div>
  <label for="new-relative-firstname">Firstname:</label>
  <input
    type="text"
    id="new-relative-firstname"
    placeholder="Enter the relatives firstname"
    ng-model="relative.newRelative.firstname">
</div>

<br>

<div>
  <label for="new-relative-surname">Surname:</label>
  <input
    type="text"
    id="new-relative-surname"
    placeholder="Enter the relatives surname"
    ng-model="relative.newRelative.surname">
</div>

<br>

<div>
  <label for="new-relative-relation">Relation:</label>
  <input
    type="text"
    id="new-relative-relation"
    placeholder="Enter the relatives relation"
    ng-model="relative.newRelative.relation">
</div>

<br>

<div>
  <label for="new-relative-location">Location</label>

  <select id="new-relative-location" ng-model="relative.newRelative.loaction">

    <option
      ng-repeat="option in relative.locations"
      value="{{ option }}">{{ option }}

    </option>

  </select>
</div>

<br>

<div>
  <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  type="submit" value="Add Relative">
</div>

</form>
