<!DOCTYPE html>

<section ng-controller="AuthController as auth" ng-init="user.getSavedRelatives()">
<br>
<br>
<ul>
    <li ng-repeat="relative in relative.allRelatives">
    </li>

</ul>


<!---Displays the Relative and Objetcs------------------------------------->
<div ng-if="auth.user">

<h2>All Relatives: </h2>
<ul>
  <li ng-repeat="relative in user.relatives">
    <p><strong>First name:</strong></p>{{ relative.firstName }}
    <p><strong>Last name: </strong></p>{{ relative.lastName }}
    <p><strong>Relation: </strong></p>{{ relative.relation }}
    <p><strong>Location: </strong></p>{{ relative.location }}
  </li>
</ul>
      <p>Instructions:</p>
    <!-- <a ui-sref="create({ firebaseUserId: auth.firebaseUserId })">
      <button>Create Relative</button></a>

    <a ui-sref="edit"><button>Edit Relative</button></a> -->
</div>



<!---Edit Relative Form------------------------------------------------------>
  <ul>
    <li class="relative" ng-repeat="relative in relative.allRelatives">
      <div>
        <span>Name: </span>
        <a ui-sref="show({relativeId: relative._id})">{{ relative.firstName }}</a>

        <button
        type="button"
        ng-click="relative.editRelative(relative._id)">edit relative</button>

        <button
        type="button"
        ng-click="relative.deleteRelative(relative._id)">delete relative</button>

      </div>
    </li>
  </ul>

  <!---Create Relative Form-------------------------------------------------->
  <section ng-controller="UserController as user">
    <form ng-if="auth.user">
      <!-- <label
       for="firstName"> First name: </label> -->
      <input
      type="text"
      ng-model="user.relativeFirstName"
      placeholder="Enter your relatives First name here">

      <br>
      <!-- <label
       for="lastName"> Last name: </label> -->
      <input
      type="text"
      ng-model="user.relativeLastName"
      placeholder="Enter your relatives Last name here">

      <br>
      <!-- <label
       for="Relation"> Relation: </label> -->
      <select
      type="text"
      ng-model="user.relation"
      ng-options="option for option in user.relativeOptions"
      placeholder="Enter your relatives relation here">
      </select>

      <br>
     <!-- <label
      for="Location"> Location: </label> -->
      <input
      type="text" gm-places-autocomplete
      ng-model="user.autocomplete" style="width: 300px;"
      placeholder="Enter your relatives Location here"/>

      <br>
      <button
      type="submit"
      ng-click="user.addRelative()">Create Relative</button>
    </form>

      <br>

<!---Displays Google Map------------------------------------------------------>
    <ui-gmap-google-map center="user.map.center" zoom="user.map.zoom"></ui-gmap-google-map>

<!---Displays Google Marker--------------------------------------------------->
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
        <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
</div>
<div class="">

</div>
  </section>

</section>
