<!DOCTYPE html>

<br>
<br>
<ul>
    <li ng-repeat="relative in relative.allRelatives" >
    </li>

</ul>

<div ng-if="auth.user">

<h2>All Relatives: </h2>

      <p>To get started click on</p>
    <a ui-sref="create"><button>Create Relative</button></a>

    <a ui-sref="edit"><button>Edit Relative</button></a>
</div>




  <ul>
    <li class="relative" ng-repeat="relative in relative.allRelatives">
      <div>
        <span>Name: </span>
        <a ui-sref="show({relativeId: relative._id})">{{ relative.firstName }}</a>

        <button
        type="button"
        ng-click="relative.editRelative(relative._id)">edit relative</button>

        <button
        type="button"
        ng-click="relative.deleteRelative(relative._id)">delete relative</button>

      </div>
    </li>
  </ul>
